@media only screen and (min-width: 73.5em) {
    header, nav, main, section, footer {
        max-width: 1800px;
    }
    header {margin-top: 1rem;}
    /*nav button { display: none; }
    #primaryNav1 { display: grid;}
    #primaryNav { display:none;}*/
    .bountiful-nav {
        display: grid;
        margin: auto 1rem;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
        'image nav-li social'
        '. date .';
        align-items: center;
    }
    /*.image { grid-area: image;}
    .nav-li {grid-area: nav-li;}
    .bountiful-nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.4rem;
    }*/
    #logo {
        border-radius: 50%;
        max-width: 180px;   
    }
    #logo:hover { max-width: 190px;}
    
    .bountiful-nav ul li a { font-size: 1.8rem;}
    .social { grid-area: social;}
    .date {
        grid-area: date;
        text-align: center;
        font-size: 1.6rem;
    }
    .social {
        display: flex;
        flex-direction: column;
        border: 3px inset #74bc2c;
        border-radius: 25px;
        padding: 0.5rem;
        margin: 1rem auto;
        max-width: 150px;
      }
    .soci {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0.2rem;
        margin: 0.5rem;
        text-align: center;
    }
    .social h3 {
        display: inline-block;
        text-align: center;
        margin: 1rem 1rem 0 1rem;
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .social hr {
        height: 2px;
        margin: 1rem;
      }
    .home-title { font-size: 2.2rem;} 
    .weather { grid-template-columns: 15% 30%  10% 30% 15%;}  
    footer p {
        font-size: 1rem;
    }
}