@media only screen and (min-width: 37.5em) {
    header, nav, main, section, footer {
        max-width: 1050px;
    }
    
    .audience {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 4.5fr 1fr;
        grid-template-areas:'image nav-li social';
       /* background-color: #8dd562;*/
    }
    .image {
        grid-area: image;
        background-color: #ffffff;
    }
    .nav-li {grid-area: nav-li;}
    .social {grid-area: social;}
    nav div {
        display: flex;
        flex-direction: row;
        margin: auto 0.3rem;
    }
    nav ul {
		display: flex;
        flex-direction: row;
        margin: auto 0;
        gap: 0.3rem;
	}
	nav a {
		font-size: 1.3rem;
        padding: 0.5rem 0.2rem;
        margin: 0.5rem 0.2rem;
	}
   
    main h1 {   
        font-size: 1.4rem;
    }
    main h2 {
        font-size: 1.3rem;
    }
    main h3 {
        font-size: 1.1rem;  
    }
    main p {
        font-size: 1rem;
        padding-left: 50px;
        padding-right: 50px;
       }
    .colors{
        font-size: 1.2rem;
    }  
    .accent2 {
        font-size: 1.3rem;
    }
    .persona{
        display: grid;
        grid-template-columns: 5% 42.5% 5% 42.5% 5%;	
    }
    main article p {
        margin-left: 5%;
    }
    .maria {
        grid-column: 2/3;
        padding: 0;
    }
    .luis {
        grid-column: 4/5;
        padding: 0;
    }
    footer {
        font-size: 0.9rem;
    }  
}