@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;700&display=swap');
:root {

  --primary-color: #2a8533;
  --secondary-color: #74bc2c;
  --accent1-color: #ffffff;
  --accent2-color: #000000;


  --heading-font: "Rubic", Arial, serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  --headline-color-on-white: #2a8533;  /* headlines on a white background */ 
  --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
  --paragraph-color-on-white: #2a8533; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
  --paragraph-background-color: #2a8533  ;
  --nav-link-color: #000000;
  --nav-background-color: #74bc2c;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #2a8533;
}
h1, h2, h3 {
	font-family: var(--heading-font);
	color: var(--headline-color-on-white);
}
p { font-family: var(--paragraph-font);}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin:auto;
    font-size: 16px;
    line-height: 1.5;
}
header, footer {
    color: var(--primary-color);
	align-items: center;
	justify-content: center;
    font-weight: bold;
}
header, main, footer {
    margin: 0 auto;
    max-width:500px;
}
header {
	letter-spacing: 0.2rem;
}
.bountiful-nav {
	margin-top: 1rem;
	list-style-type: none;
	line-height: 1.5em;
	font-size: 1.5rem;
}
nav {
	list-style-type: none;
	line-height: 1em;
	font-size:0.7rem;
}
.image { background-color: var(--accent1-color);}
#logo {
	display: block;
	margin: 0 auto;
	max-width: 100px;
	border-radius: 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 2px inset #74bc2c;
	transition: 0.5s;
  }
#logo:hover {
		max-width: 100px;
        border:2px inset #2a8533;
        box-shadow: 2px 5px 2px #2a8533;
}
.social {
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	margin: 0.1rem auto;
  }
.soci {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 0.3rem;
	margin: 0.1rem auto;
}
.social h3 {display: none;}
.linkedin, .instagram { background-color: var(--accent1-color);}
.instagram{border-radius: 5px;}
.instagram, .linkedin, .facebook {
	max-width: 70%;
	height: auto;
	transition: 0.4s;
  }
.linkedin:hover, .instagram:hover, .facebook:hover {transform: scale(1.1);}
.bountiful-nav ul {
	list-style-type: none;
}
.bountiful-nav ul li a {
	display: block;
	color: var(--nav-link-color);
	background-color: var(--nav-background-color);
	font-family: var(--heading-font);
	text-align: center;
	min-width: 120px;
	padding: 0.2em;
	margin: 0.2em;
	text-decoration: none;
	transition: 0.5s;
}
.bountiful-nav ul li a:hover {
  	color: var(--nav-hover-link-color);
	background-color: var(--nav-hover-background-color);
}
.bountiful-nav ul li a.active { 
	color: var(--accent1-color);
	background-color: var(--primary-color);
}
nav ul {display: none;}
nav ul.open {display: block;}
#hamburgerBtn span:nth-child(1) { 
    display: block;
    border:1px solid #ffffff;
    padding: 0.2rem;
}
#hamburgerBtn span:nth-child(1):hover {font-weight: bold;}
#hamburgerBtn span:nth-child(2) {display: none;}
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
#hamburgerBtn.open span:nth-child(2):hover {font-weight: bold;}
ul#primaryNav.try.open {
    margin: 0 1rem;
    padding: 0;
}
nav button {
	display: block;
	font-family: var(--heading-font);
    margin: 0.7rem auto; 
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--nav-hover-background-color);
	font-weight: bold; 
}
nav button span:nth-child(2) {
    font-size: 1.6rem;
    margin-bottom: 0;
	border: 2px solid var(--secondary-color);
	padding: 0.2rem 0.5rem;
}
.date {
	text-align: center;
	font-size: 1.2rem;
}

h2 { text-align: center;}
hr {
	height: 3px;
	margin: 0;
	background: var(--secondary-color);
  }

.home-title {
	font-size: 1.6rem;
	text-align: center;
}  
.container { position: relative;}  
.mySlides { display: none;}
.mySlides img {
    display: block;
    margin:auto;
    width: 50%;
  }
.prev, .next {
	cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.prev { left: 1rem;	}
.next { right: 1rem;}
.prev:hover, .next:hover, .prev-1:hover, .caption-container {
    background-color: var(--paragraph-background-color);
    color: var(--accent1-color);
}
.caption-container { text-align: center;}
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    float: left;
    width: 10%;
}
.min {
    opacity: 0.6;
	cursor: pointer;
}  
.active, .min:hover {
    opacity: 1;
}

main h1 {
    margin-top: 2rem;
    font-size: 1.3rem;
}
main h2 {
    font-size: 1.2rem;
}
main h3 {
    font-size: 1rem;  
}

.weather {
	display:block;
	margin: 1rem auto;
}
.current-weather {
	grid-area: cw;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 2px solid var(--secondary-color);
	border-radius: 15px;
	box-shadow: var(--primary-color) 0px 2px 5px -1px, var(--accent2-color) 0px 1px 3px -1px;
	padding: 0.5rem;
	margin: 1rem;
}
.current-weather h2 {
	text-align: center;
	padding-top: 0.3rem;
}
.today {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	padding-top: 0.3rem;
	column-gap: 0.5rem;
}
figure {line-height: 1;}
.forecast {
	grid-area: f;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 2px solid var(--secondary-color);
	border-radius: 15px;
	box-shadow: var(--primary-color) 0px 2px 5px -1px, var(--accent2-color) 0px 1px 3px -1px;
	margin: 1rem;
	padding: 1rem;
}
.forecast h2 {text-align: center;}
.days {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5rem;
	padding-top: 0.3rem;
}
.days h3 {font-size: 0.9rem;}
.results p {padding: 0.5rem;}
/* footer */
footer {
	text-align: center;
	line-height:1.2rem;
    padding: 0.5rem;
	font-size: 1rem;
}
footer img {max-width: 100px;
height: auto;}
footer a {color: var(--accent2-color);}
footer hr {margin-top: 0.5rem;}
.base {
	display: block;
}
.medium {display: none;}